{% load staticfiles %}
<doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   </head>
  <body>

{% load staticfiles %}



<link rel="stylesheet" href="{% static 'css/nav.css' %}">

{% include 'manuPolice.html' %}<center>
<form action="/statusadd/" method="post">
    {% csrf_token %}

<table align="centre" bgcolor="#fffafa" border="2">
 <tr>
        <th colspan="10"><center><font size="5" face="Arial Black">
           Complente Details</font></center>
        </th>
    <tr>
        <th>Complent_Id</th>
        <th>Complent_type</th>
        <th>Complient_Name</th>
        <th>Complent_Date</th>
        <th>Complent_Discription</th>
        <th>Proof</th>
        <th>Station_id</th>
        <th>Locaton</th>
       <th>Add Status</th>
        </tr>
    {%  for x in object_list %}
    <tr>
        <th>{{ x.complent_id }}</th>
        <th>{{ x.complent_type }}</th>
        <th>{{ x.complient_name }}</th>
        <th>{{ x.date_of_complent }}</th>
        <th>{{ x.description }}</th>
        <th>{{ x.proof }}</th>
        <th>{{ x.station_id }}</th>
        <th>{{ x.location }}</th>
       <th><input type="hidden" name="id" value="{{  x.complent_id  }}"> <button type="submit" >Status</button></th>



        </tr>
    {% endfor %}
</table>
</form></center>
</body>
</html></doctype>
